@model Minitwit.Website.Models.RegisterViewModel

@{ 
    ViewData["Title"] = "Sign Up";
}


<h2>Sign Up</h2>
  @*{% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}*@
<form action="" method=post>
    @Html.AntiForgeryToken()
    <dl>
        <dt>Username:
        <dd><input type=text name=username size=30 asp-for="@Model.Username">
        <dt>E-Mail:
        <dd><input type=text name=email size=30 asp-for="@Model.Email">
        <dt>Password:
        <dd><input type=password name=password size=30 asp-for="@Model.Password">
        <dt>Password <small>(repeat)</small>:
        <dd><input type=password name=repeatedpassword size=30 asp-for="@Model.RepeatedPassword">
    </dl>
    <div class=actions><input type=submit value="Sign Up"></div>
</form>